{{#extends 'base'}}

{{#block 'content'}}

<form method="GET">
    <div>
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-control" value="{{searchParams.title}}"/>
    </div>
     <div>
        <label class="form-label">Release Year</label>
        <input type="text" name="release_year" class="form-control" value="{{searchParams.release_year}}"/>
    </div>
    <input type="submit" value="Search" class="btn btn-primary mt-3 mb-3"/>
</form>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Release Year</th>
            <th>Language</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each films}}
        <tr>
             <td>
                {{this.film_id}}
            </td>
            <td>
                {{this.title}}
            </td>
            <td>
                {{this.description}}
            </td>
            <td>
                {{this.release_year}}
            </td>
            <td>
                {{this.name}}
            </td>

            {{!-- <td>
                <a href="/actors/{{this.actor_id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/actors/{{this.actor_id}}/delete" class="btn btn-danger btn-sm">Delete</a>

            </td> --}}

        </tr>
        {{/each}}
    </tbody>




</table>

{{/block}}

{{/extends}}